crash.log
.swp
.env
.DS_Store
*.lock.hcl
.idea/
*.iml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.pnp.*
.yarn/*
!.yarn/releases
.vscode/*
.sessions/
.dynamic/
# Ignore all PNGs in the snapshot folder
/playwright-e2e/snapshots/tests/home-page.spec.ts-snapshots/*.png
# But do NOT ignore PNGs that end in linux.png
!/playwright-e2e/snapshots/tests/home-page.spec.ts-snapshots/*linux.png
